.ecom_modal_note{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.ecom_modal_subheader{
    /* font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    
 */

/* font-size: 18px;
font-weight: 400; 
line-height: 28px;*/
letter-spacing: 0em;
text-align: center;

}
.ecom-icon-right{
    float: right;
}
.ecom-align-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
}
.slds-modal__container{
    width:40%;
    margin:0 auto;
       }

.ecom_partnumber_tb{
    margin: 0px 16px 0px 0px;
    line-height: 7px;
    width: auto;
}
.ecom_btn-promo-cancel{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}
.ecom_btn-promo-apply{
    
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    background-color: #7F03B0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}
.ecom-noborder{
    border-bottom: 2px solid white;
}
.ecom-closebtn{
    float:right;
    bottom:10px
}
.ecom-no-border{
    border:2px solid white
}

.ecom-spinner{
    z-index:10000 !important;
    position: fixed;
    top : 0;
    bottom : 0;
    right : 0;
    left: 0;
}
.ecom-purpletext{
    color:#7F03B0
}
.ecom-sa-details-box{
padding: 16px;
border-radius: 8px;
border: 1px solid #333333;
margin: 4px;
width: fit-content;

}
.ecom-address-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.ecom-address-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
 /* Create a custom radio button */
 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #7F03B0;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
      top: 9px;
      left: 9px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  .container :checked {
    /* Set custom styles for the checked state */
    /* For example, you can use a background color or image for the fill */
    background-color: #7F03B0; /* Example color, replace with your desired color */
    border-color: #7F03B0; /* Example color, replace with your desired color */
    border-radius: 50%; /* Make it circular */
    width: 18px;
    height: 18px;
    margin: 0; /* Adjust spacing as needed */
}