@import 'c/ecom_cssLibrary';

p { 
    font-size: 16px;
    margin-bottom: 24px;
    line-height: 24px;
    font-weight: 400;
    margin-bottom: 32px;
}

.ecom-margin-bottom-3{
    margin-bottom: 3px;
}

.ecom-input-field {
    margin-bottom: 32px;
}

@media screen and  (max-width:719px){
    .ecom-input-field{
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1104px){
    .ecom-max-width-435 {
        max-width: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 496px) {
    .ecom-header-label-styling{
        margin-top: 56px;
    }
}