.ecom-gray-border-b {
	border-bottom: 1px solid #E3E3E3;
}

.ecom-back-icon {
	width: 24px !important;
	height: 24px !important;
	padding: 4px;
}

.ecom-account-sb-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.ecom-brand-font {
	color: #5A027D;
}

.ecom-purple-font {
	color: #7F03B0;
}

.ecom-acn-label {
	font-size: 48px;
	font-weight: 300;
	line-height: 56px;
	letter-spacing: 0em;
	text-align: left;
	color: #333333;
}

.ecom-acn-details {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

/* .ecom-acn-nr-box {
	padding: 16px;
	border-radius: 4px;
	border: 1px solid #E3E3E3;
	margin: 15px 15px 0px 0px;
	background-color: linear-gradient(0deg, #FBFBFB, #FBFBFB);
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
} */

.ecom-acctnumb-label {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

}

.ecom-acctnum-helptext {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: left;
	color: #525252;
}

.ecom-submit-btn {
	padding: 12px 20px 12px 20px;
	border-radius: 40px;
	background-color: #7F03B0;
	border: 2px solid #7F03B0;
	color: #FFFFFF;
}

.ecom-submit-btn[disabled] {
    background: #A8A8A8;
    border: 1px solid #A8A8A8;
    cursor: not-allowed;
}

.ecom-note-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}