.ecom-ss-revvity-sso-redirect {
  min-height: 400px;
}

.ecom-ss-revvity-sso-redirect-inner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 101;
}