.ecom-shipping-label{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
}
.ecom-ship-bill-card{
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #E3E3E3
}
.ecom-active-acn-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
}
.ecom-account-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.ecom-address-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.ecom-address-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.ecom-brand-purple{
    color:#7F03B0;
}
.ecom-gray-font{
    color: #525252;
}