.ecom-checkout-label{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
}
.ecom-total-cost-label{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    color: #525252;
}
.ecom-italic-font{
    font-style: italic;
}
.ecom-ship-bill-card{
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #E3E3E3
}
.ecom-active-acn-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
}
.ecom-account-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.ecom-brand-purple{
    color:#7F03B0;
}

.ecom-brand-purple:hover{
    color:#7F03B0;
    text-decoration: underline;
    text-decoration-color: #7F03B0;
    cursor: pointer;
}

.ecom-brand-purple:active{
    color:#7F03B0;
    text-decoration: underline;
    text-decoration-color: #7F03B0;
}
.ecom-gray-font{
    color: #525252;
}
.ecom-red-font{
    color:red;
    font-weight: 500;
}

/* RWPS-4823 Start */
.ecom-line-height {
    display: inline-block;
    margin-top: 6px;
}
/* RWPS-4823 End */

.ecom-address-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.ecom-address-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.ecom-pinfo-label{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.ecom-c-card{
padding: 16px;
border-radius: 8px;
border: 1px;
/* margin: 8px; */
border: 1px solid #E3E3E3;
}

.ecom-c-card-unchecked{
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    /* margin: 8px; */
    border: 1px solid #E3E3E3;
    }

.ecom-c-card-checked{
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    /* margin: 8px; */
    border: 1px solid #525252;
    }

.ecom-card-change{

font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #7F03B0;

}
.ecom-hide{
    display: none;
}
/* .slds-radio [type=radio]:checked+.slds-radio__label .slds-radio_faux{

} */
.slds-radio input[type="radio"]:checked + .slds-radio__label .slds-radio_faux {
    width: 20px;
	height: 20px;
    border-color: #7F03B0; 
    /* background-color: #7F03B0;  */
  }
  .ecom-payment-btn{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    background: #7F03B0; 
    border: 1px solid #7F03B0;
    color: white
}
.ecom-payment-btn[disabled] {
    background: #A8A8A8;
    border: 1px solid #A8A8A8;
    cursor: not-allowed;
}
.ecom-tooltip{
font-size: 16px;
 font-weight: 400;
 line-height: 24px;
 letter-spacing: 0em;
 text-align: left;
 border:1px solid #7F03B0;
 color:black;
 display: inline;
 
 }
 /*.ecom-popover{
    /* position: relative;
      left: 9rem;
     top: 3rem; */
    /* position: absolute;
     top: 10px;
     left: 10px;
     background: white;
     color: black;
     border: 1px solid #E3E3E3;
     width:30%;
 }*/

 .ecom-popover{
     position: absolute;
     left: 195px;
     background: white;
     color: black;
     border: 1px solid #E3E3E3;
     width:30%;
     bottom: 50px;
 }
 .ecom-popover-body{
     color:black
 }
 .ecom-additional-info-label{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #525252;
}
.ecom-pc-available{
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.04em;
text-align: left;
color: #000000;
}
.ecom-pc-value{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #000000;
}
.ecom-change-link{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.ecom-select-payment-label{
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 7, 7, 0.5); /* background color while spinner onscreen */
    z-index: 15000; /* set z-index always high */
}

.spinshow::after {
    position: absolute;
    content: "Loading...";
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    color: white;
  }
  /* input[type='radio']:checked:after {
	width: 20px;
	height: 20px;
	border-radius: 15px;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #7F03B0;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #7F03B0;
	box-shadow: inset 0px 0.5px 1px 1px white;  */
    /* width: 20px;
    height: 20px;
    border-radius: 10px;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #7F03B0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #7F03B0;
    box-shadow: inset 0px 0.25px 1px 2px white; */

/* } */
input[type='radio']:checked:after {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	top: -2px;
	left: -1px;
	position: relative;
	background-color: #7F03B0;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 1px solid #7F03B0;/*border: 2px solid #7F03B0;*//*14th Nov*/
	/* box-shadow: inset 0px 0.5px 1px 1px white; */
    box-shadow: inset 0px 0.5px 2px 3px white;
}
/* input[type=radio] { 
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    top: -2px;
    left: 0px;
    position: relative;
    background-color: #7F03B0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #7F03B0; */
    /* box-shadow: inset 0px 0.25px 1px 2px white; */
/* } */

.ecom-mt-16{
    margin-top: 16px;
}
.ecom-mt-32{
    margin-top: 32px;
}
.ecom-mt-24{
    margin-top: 24px;
}
.ecom-mt-4{
    margin-top: 4px;
}
.ecom-mr-8{
    margin-right: 8px;
}
@media only screen and (min-width: 390px) and (max-width: 767px) {
    .ecom-shipping-label{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 137.5% */       
        letter-spacing: 0em;
        text-align: left;
        color:#000000;
    }

}
@media only screen and (min-width: 768px) {
    .ecom-shipping-label{
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
        letter-spacing: 0em;
        text-align: left;
        color:#000000;
    }
}