.ecom-mt-32 {
    margin-top: 32px;
}
.slds-form-element__help {
    line-height: 20px;
    font-size: 14px;
}
.custom-input {
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	min-width: 0;
	padding-inline-start: 12px;
    padding-inline-end: 16px;
	font-size: 16px;
	font-family: 'Salesforce Sans', sans-serif;
	font-weight: 400;
	color: #000000 !important;
	height: 56px;
	border: 1px solid rgb(82, 82, 82);
	border-radius: 4px;
}
.ecom-red-text {
	color: rgb(194, 57, 52);
	font-size: 14px;
	margin-top: 4px;
  }
/* Focus, Hover, Active states */
.custom-input:focus,
.custom-input:hover,
.custom-input:active {
	border-color: #7F03B0 !important;
	outline: none;
}

.custom-input.input-error {
	border-color: rgb(194, 57, 52) !important;
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
}
.custom-input.input-error:hover 
{
	border-color: #7F03B0 !important;
    outline: none;
    box-shadow: none;
}

.custom-input.input-error:focus,
.custom-input.input-error:active {
	outline: none;
	border-color: #7F03B0 !important;
	box-shadow: rgb(194, 57, 52) 0px 0px 0px 1px inset;
}