.ecom-ss-page-end-section-outer {
  background: linear-gradient(38.11deg, #73d733 -35.74%, #ffeb0f 42.17%);
  padding: 88px 0;
}

.ecom-ss-page-end-section-inner {
  background: #fff;
  border-radius: 16px;
  padding: 72px 16px;
}

.ecom-ss-page-end-section-content {
  margin: 0 auto;
  max-width: 703px;
}

.ecom-ss-page-end-section-line {
  width: 80px;
  border: 2px solid;
  border-radius: 2px;
  margin: 0 auto 40px;
}

.ecom-ss-page-end-section-heading {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 40px;
  text-align: center;
}

.ecom-ss-page-end-section-heading span {
  font-weight: 300;
}

.ecom-ss-page-end-section-cta-outer {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}