.width-95{
    width: 95%;
}
.red{
    color: red;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(8, 7, 7, 0.5); */
    z-index: 15000;
}