.ecom-account-sidebar-box {
	padding: 40px 16px 40px 16px;
	border: 1px solid #E3E3E3;
	margin: 32px
}

.doNotDisplay{
	display:none;
}

.ecom-acc-inner-box {
	padding: 0px 16px 0px 40px;
	margin: 32px;

}

.ecom-account-sb-icon {
	width: 24px;
	height: 24px;
	padding: 3px;
}

.ecom-account-sb-label {
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.ecom-black-font {
	color: #000000;
}

.ecom-brand-font {
	color: #5A027D;
}

.ecom-purple-font {
	color: #7F03B0;
	;
}

.ecom-gray-border-b {
	border-bottom: 1px solid #E3E3E3;
}

.ecom-gray-border-t {
	border-top: 1px solid #E3E3E3;
}

.ecom-gray-font {
	color: #525252;
}

.ecom-back-icon {
	width: 24px !important;
	height: 24px !important;
	padding: 4px;
}

.ecom-notify_container_error{
    border: 1px solid #e81511;
    background-color: #f09391;
    border-radius: 8px;
}
.ecom-notify_container_warning{
    border: 1px solid #f39600;
    background-color: #f3e86a;
    border-radius: 8px;
}
.ecom-notify__content{
    color: #000000;
}
.ecom-notify_toast {
    min-width: auto;
    width: 100%;
    margin-left: 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    background: 0 0;
    padding-top: var(--slds-c-toast-spacing-block-start,var(--sds-c-toast-spacing-block-start,.75rem));
    padding-right: var(--slds-c-toast-spacing-inline-end,var(--sds-c-toast-spacing-inline-end,3rem));
    padding-bottom: var(--slds-c-toast-spacing-block-end,var(--sds-c-toast-spacing-block-end,.75rem));
    padding-left: var(--slds-c-toast-spacing-inline-start,var(--sds-c-toast-spacing-inline-start,1.5rem));
    /* min-width: var(--slds-c-toast-sizing-min-width,var(--sds-c-toast-sizing-min-width,30rem)); */
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.close-btn{
	background: none;
	border: none;
}

.ecom-acn-nr-box {
	padding: 16px;
	border-radius: 4px;
	border: 1px solid #E3E3E3;
	margin: 15px 15px 0px 0px;
	background-color: linear-gradient(0deg, #FBFBFB, #FBFBFB);
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
}

.ecom-addresses-label {
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
	letter-spacing: 0em;
	text-align: left;
}

.ecom-accnum-mb{
	margin-bottom:5px !important;
}
.ecom-back-btn{
	padding: 12px 20px 12px 20px;
	border-radius: 40px;
	background-color: white;
	border: 2px solid #7F03B0;
	color: #7F03B0;
}

.ecom-msgbox-closebtn-mobile{
	/* float:right;
	 bottom:10px;
	 padding-top: 10px; */
	 width: 15px;
	 height: 15px;
 }
 
 .ecom-msgbox-closebtn{
	  width: 24px;
	  height: 24px;
  }
 
 .hidden>div{
 display: none;
 }
 
 .visible>div{
	 display: block;
 }
 .m-top-msg{
	margin-top: 32px;
 }
.ecom-address-card {
	padding: 16px;
	border-radius: 8px;
	border: 1px solid #525252;
	/* margin: 8px; */
	margin: 10px 0px 10px 0px;
	/* background-color: linear-gradient(0deg, #525252, #525252), */
}
.billing-input{ /*RWPS-1924*/
    word-break: break-word;
}

.ecom-address-details {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}

.ecom-note-label {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
}

.ecom-checkbox-label {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000;
}

.ecom-submit-btn {
	width: 97px;
	min-height: 48px;
	padding: 12px 20px 12px 20px;
	border-radius: 40px;
	background-color: #7F03B0;
	border: 2px solid #7F03B0;
	color: #FFFFFF;
}
.ecom-spinner-style{
	z-index: 10000 !important;
	position: fixed;
	top: 0;
	bottom : 0;
	right:0;
	left:0;
}
.ecom-qo-closebtn{
	float:right;
	bottom:10px
}
.ecom_btn-qorder{
	color:#7F03B0;
	background-color: white;
	border-radius: 40px;
	border: 2px solid #7F03B0;
	font-family: Hanken Grotesk;
	font-size: 16px;
	font-weight:normal;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	padding: 5px 12px 5px 12px;
}

.ecom-submit-btn[disabled] {
    background: #A8A8A8;
    border: 1px solid #A8A8A8;
    cursor: not-allowed;
}
input[type='radio']:checked:after {
	width: 22px;
	height: 22px;
	border-radius: 15px;
	top: -1px;
	left: -1px;
	position: relative;
	background-color: #7F03B0;
	content: '';
	display: inline-block;
	visibility: visible;
	border: 2px solid #7F03B0;
	box-shadow: inset 0px 0px 0px 2px white;
}

.ecom-acctnum-helptext{
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: #525252;

}
.ecom-help-icon{
width: 19px;
height: 19px;
flex-shrink: 0;
stroke-width: 1.5px;
stroke: #7F03B0;
}
.ecom-no-popover{
    display: none;
}
.ecom-popover{
	position: relative;
	top: -124px;
    left: 18px;
	float: right; 
	/* position: absolute;
	 top: -4rem;
	 left: 2rem;
	 left: -2rem;
    top: -6rem;
	 */
	 background: white;
	 color: black;
	 border: 1px solid #E3E3E3;
 }
 .ecom-popover-body{
	 color:black
 }
 .ecom-cursor:hover{
	cursor : pointer;
 }
 .slds-nubbin--bottom-left:after, .slds-nubbin--bottom-left:before, .slds-nubbin_bottom-left-corner:after, .slds-nubbin_bottom-left-corner:before, .slds-nubbin_bottom-left:after, .slds-nubbin_bottom-left:before{
	left: 50% !important;
 }
 .ecom-mt-64{
	margin-top: 64px;
 }
 .ecom-mt-16{
	margin-top: 16px;
	word-break: break-all;
 }
 input[type=radio] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    width: 20px !important;
    height: 20px !important;
	margin-right: 8px;
}
 .ecom-pb-24{
	padding-bottom: 24px;
 }
 /* .ecom-mt-40{
	margin-top: 40px;
 } */
 .ecom-mb-40{
	margin-bottom: 40px;
 }

 .vh32{
	height: 32px;
	width: auto;
 }
.ecom-underline{
	text-decoration-line: underline;
}
.ecom-gap-40{
	margin-top: 40px;
}
.ecom-pb-40{
	padding-bottom: 40px;
}
.ecom-vh-40{
	height: 40px;
	width: auto;
}
.ecom-add-gap{
	margin-top: 32px;
}
/* RWPS-2124 */
@media screen and  (min-width:1080px){

    .background{
      max-width: 100%;
      min-width: 360px;
    }
    
    .container{
      max-width:1440px;
      min-width:360px;
      background-color:white;
    
    }
    
    .body{
      width: 100%;
    }
    }
	/* Mobile css */
@media only screen and (min-width: 300px) and (max-width: 767px) {
	.ecom-mt-32{
		margin-top: 16px;
	 }
	 .ecom-mt-40{
		margin-top: 32px;
	 }
	 .ecom-acn-label {
		font-size: 32px;
		font-style: normal;
		font-weight: 300;
		line-height: 40px; /* 125% */
		letter-spacing: 0em;
		text-align: left;
		color: #333333;
	
	}
	.ecom-acn-details {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 137.5% */
		letter-spacing: 0em;
		text-align: left;
	}
	.ecom-mt-64{
		margin-top:32px;
	}
	.ecom-mt-24{
		margin-top: 16px;
	}

	.ecom-pt-40{
		padding-top: 32px;
	}
	.ecom-addresstype-label {
		font-size: 16px;
		font-style: normal;
		font-weight: 500;
		line-height: 22px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	.ecom-addr-text {
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 22px; /* 137.5% */
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
} 
/* Desktop css */
@media only screen and (min-width: 768px) {
	.ecom-addr-text {
		color: #000000;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
	}
	.ecom-addresstype-label {
		font-size: 18px;
		font-weight: 500;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
		color: #000000;
	}
	.ecom-mt-24{
		margin-top: 24px;
	}
	.ecom-pt-40{
		padding-top: 40px;
	}
	.ecom-mt-32{
		margin-top: 32px;
	 }
	 .ecom-mt-40{
		margin-top: 40px;
	 }
	 .ecom-acn-label {
		font-size: 48px;
		font-weight: 300;
		line-height: 56px;
		letter-spacing: 0em;
		text-align: left;
		color: #333333;
	
	}
	.ecom-acn-details {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: 0em;
		text-align: left;
	}
	.ecom-mt-64{
		margin-top:64px;
	}
}