.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.popup-content {
    background: #fff;
    padding: 90px;
    text-align: center;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    width: calc(100% - 64px) !important;
    max-height: calc(100% - 64px);
    max-width: 759px;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 27px;
    cursor: pointer;
}

.popup-icon {
    font-size: 28px;
    border: 2px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
}

.popup-text {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 20px;
    line-height: 40px;
}

.popup-actions {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-outline {
   border: 2px solid #7f03b0;
    border-radius: 40px;
    color: #7f03b0;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 24px;
    outline-color: transparent;
    outline-offset: 2px;
    outline-style: solid;
    outline-width: 2px;
    padding: 12px 20px;
    transition: .2s;
    background: white;
}

.btn-outline:hover {
    background: #7f03b0;
    color:white;
}

.btn-primary {
    background-color: #7f03b0;
    border-radius: 2.5rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    line-height: 24px;
    padding: 12px 20px;
    text-align: center;
    transition: 202ms;
    border: 2px solid #7f03b0;
}

.btn-primary:hover {
    background: #580b9e;
}


/* For phones (portrait) */
@media (max-width: 480px) {
    .popup-text {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 22px;
    }
    .btn-outline {
        border: 2px solid #7f03b0;
        border-radius: 40px;
        color: #7f03b0;
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        line-height: 18px;
        outline-color: transparent;
        outline-offset: 2px;
        outline-style: solid;
        outline-width: 2px;
        padding: 12px 20px;
        transition: .2s;
        background: white;
    }
}

/* For larger phones and small tablets */
@media (max-width: 768px) {
     .popup-text {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 22px;
    }
    
    .btn-outline {
        border: 2px solid #7f03b0;
        border-radius: 40px;
        color: #7f03b0;
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        line-height: 18px;
        outline-color: transparent;
        outline-offset: 2px;
        outline-style: solid;
        outline-width: 2px;
        padding: 12px 20px;
        transition: .2s;
        background: white;
    }
}

/* For tablets */
@media (max-width: 1024px) {
      .popup-text {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 12px;
        line-height: 22px;
    }
    .btn-outline {
        border: 2px solid #7f03b0;
        border-radius: 40px;
        color: #7f03b0;
        cursor: pointer;
        display: inline-block;
        font-weight: 500;
        line-height: 18px;
        outline-color: transparent;
        outline-offset: 2px;
        outline-style: solid;
        outline-width: 2px;
        padding: 12px 20px;
        transition: .2s;
        background: white;
    }
}