.ecom-ss-get-user-data-error {
  padding: 40px;
  font-size: 24px;
  line-height: 32px;
}

.ecom-ss-get-user-data-loader {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 101;
}