.ecom_modal_header{
    font-family: Hanken Grotesk;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom:1px solid white;

    }

    .doNotDisplay{
        display:none;
    }

    .ecom_modal_note{
    font-family: Hanken Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

    }
    .ecom-sf-border-bottom{
        border-radius: 0px 0px 8px 8px;
        padding-top: 5%;
    }
    .ecom_modal_container{
        /* top: 155px; */
        left: 340px;
        /* padding: 60px 93px 60px 93px; */
        border-radius: 20px;
        margin: 16px

    }
    .ecom_modal_header_container{
        /* width: 263.5px;
        height: 50px; */
        padding: 10px;
        border: 0px 0px 1px 0px;
        background-color: #FFFFFF;
        border-color:#7F03B0;

    }
    .ecom_modal_grayborder{
        /* border-width: 0px, 0.5px, 0.5px, 0.5px !important;
        border-style: solid;
        border-color: #A8A8A8; */
        background-color: none;

        /* Set no border on left, right, and top */
        border-left: none;
        border-right: none;
        border-top: none;

        /* Set red bottom border */
        border-bottom: 1px solid red;
    }
    .slds-table thead th{
        background-color: white;
    }
    .ecom_modal_no_lrborder{
        border-left:1px solid white;
        border-right: 1px solid white;
        border-bottom: 1px solid #7F03B0
    }
    .ecom-icon-right{
        float: right;
    }
    .ecom-align-title{
        text-align:center
    }
    .slds-modal__container{
        position: sticky;
        left: 32%;
        margin: 0 auto;
        max-width: fit-content;
        min-width: inherit;
    }
    .slds-modal__content{
        border-radius: 8px 8px 0px 0px;
    }
    .ecom_padding{
        margin-bottom: 16px;
    }
    .ecom_qo_partnumber_tb{
        margin: 0px 16px 0px 0px;
        line-height: 7px;
        width: auto;
    }
    .ecom_qo_partnumber_nr{
        margin: 16px 5px 0px 0px;
        line-height: 5px;
    }
    .ecom-qo-deleteitem-btn{
        cursor: pointer;
        width: 20px;
        height:20px;
        margin:11px 0px 5px 25px;
        /* RWPS-3338 start */
        border: none;
        outline: none;
        box-shadow: none;
        /* RWPS-3338 end */
    }
    /* RWPS-3826 start */
    .ecom-qo-deleteitem-btn:focus-visible {
        outline: 1px solid #7F03B0;
        outline-offset: 2px;
    }
    /* RWPS-3826 end */
    .ecom_btn-qorder{
        color:#7F03B0;
        background-color: white;
        border-radius: 40px;
        border: 2px solid #7F03B0;
        font-family: Hanken Grotesk;
        font-size: 16px;
        font-weight:normal;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        padding: 5px 12px 5px 12px;
        height: 48px;
    }
    .modal-btn-width{
        width: 30%;
    }
    .ecom_btn-qorder:hover{
        color:white;
        background-color: #7F03B0;
        border-radius: 40px;
        border: 2px solid #7F03B0;
        font-family: Hanken Grotesk;
        font-size: 16px;
        font-weight:normal;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        padding: 5px 12px 5px 12px;
        height: 48px;
    }

    .ecom_btn-addmore{
        font-family: Hanken Grotesk;
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
        color:#7F03B0;
    }


    .ecom-icon-size{
        width: 24px;
        height: 28px;
        padding-bottom: 4px;
    }

    .ecom_btn-qorder-add-to-cart{
        font-family: Hanken Grotesk;
        font-size: 18px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        color:#FFFFFF;
        background-color:#A8A8A8;
        border: 1px solid #A8A8A8;
        border-radius: 24px;
        height: 48px;
    }
    .ecom_btn-brand{
        color:white;
        background-color: #7F03B0;
        border-radius: 40px;
        border: 2px solid #7F03B0;
        font-family: Hanken Grotesk;
        font-size: 16px;
        font-weight:normal;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        padding: 5px 12px 5px 12px;
        height: 48px;
      }
      .ecom_btn-brand:hover{
        color:white;
        background-color: #5A027D;
        border-radius: 40px;
        border: 2px solid #5A027D;
        font-family: Hanken Grotesk;
        font-size: 16px;
        font-weight:normal;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        padding: 5px 12px 5px 12px;
        height: 48px;
      }
    .ecom-qo-noborder{
        border-bottom: 0px;
    }
    .ecom-qo-closebtn{
        float:right;
        bottom:10px
    }
    .ecom-no-border{
        border:2px solid white
    }
    .download-link {
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
    .spinner-style{
        z-index: 10000 !important;
        position: fixed;
        top: 0;
        bottom : 0;
        right:0;
        left:0;
    }

    .table-heading{
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .button-text{
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }

    .ecom-card-label{
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: left;
        color:#000000;
    }
    .ecom-qo-card{
        /* padding: 16px; */
        border-radius: 8px;
        border: 1px solid #E3E3E3
    }
    .ecom-qo-label{
        font-size: 32px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0em;
        color: #000000;
    }
    .ecom-qo-details{
        word-break: break-word;
        font-size: 16px;
        font-weight: 400;
        /* line-height: 34px; */
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        /*line-break: anywhere;*/
        padding-right: 16px;
    }
    .ecom-qo-failed-label{
        font-size: 16px;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
    }
    .ecom-qo-uf-grayborder{
        border: 2px solid #E3E3E3;
        border-radius: 8px;
    }
   /* .uploadSection .span.slds-file-selector_button.slds-button.slds-button_neutral{ */
    /* .uploadSection{
    color: purple !important;
    border-radius: 20px !important;
    border: 2px solid purple !important;
    } */
    .uploadSection .slds-file-selector {
        border: 2px solid red; /* Change border color to red */
    }

    /* Custom styling for the upload icon */
    .uploadSection .slds-file-selector__dropzone-icon {
        fill: purple; /* Change icon color to purple */
    }

    .slds-file-selector__button{
        color:#7F03B0;
        background-color: white;
        border-radius: 40px;
        border: 2px solid #7F03B0;
        font-family: Hanken Grotesk;
        font-size: 16px;
        font-weight:normal;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: center;
        padding: 5px 12px 5px 12px;
    }

    .ecom_footer-btn{
        float: left;
        padding-right: 7%;
        padding-bottom: 64px;
    }
    .ecom_fav-label{
        font-size: 32px;
        font-weight: 300;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;
        color:#333333;
        }
    .ecom_fav-prod-count{
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        }
        /*RWPS-2124*/
        @media screen and  (min-width:1080px){

            .background{
              max-width: 100%;
              min-width: 360px;
            }

            .container{
              max-width:1440px;
              min-width:360px;
              background-color:white;
              width:100%;
              justify-content: center;

            }

            .body{
              width: 100%;
            }
            }
            @media screen and  (min-width:760px) and (max-width : 1024px){

                .background{
                  max-width: 100%;
                  min-width: 360px;
                }

                .container{
                  max-width:1024px;
                  min-width:360px;
                  background-color:white;
                  width:100%;
                  justify-content: center;

                }

                .body{
                  width: 100%;
                }
                }
                @media(max-width: 760px){
                    /* .message-container{
                        width: 75%;
                        margin-left: 12.5%;
                    } */
                    .background{
                        max-width: 100%;
                        /* min-width: 390px; */
                      }
                    .container{
                        max-width:390px;
                        /* min-width:390px; */
                        background-color:white;
                        width:100%;
                        justify-content: center;

                      }
                      .body{
                        width: 100%;
                      }
                }

            @media (min-width:300px) and (max-width:510px){

                .table-heading{
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 24px;
                    letter-spacing: 0em;
                    text-align: left;
                }

                .slds-modal__container{
                    width:100%;
                    margin:0 auto;
                    max-width: fit-content;
                    min-width: inherit
                }

                .ecom_btn-brand{
                    color:white;
                    background-color: #7F03B0;
                    border-radius: 40px;
                    border: 2px solid #7F03B0;
                    font-family: Hanken Grotesk;
                    font-size: 16px;
                    font-weight:normal;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    padding: 5px 12px 5px 12px;
                    height: 48px;
                    width: 100%;
                  }
                  .ecom_btn-brand:hover{
                    color:white;
                    background-color: #5A027D;
                    border-radius: 40px;
                    border: 2px solid #5A027D;
                    font-family: Hanken Grotesk;
                    font-size: 16px;
                    font-weight:normal;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    padding: 5px 12px 5px 12px;
                    height: 48px;
                    width: 100%;
                  }

                  .ecom_footer-btn{
                    float: left;
                    padding-bottom: 64px;
                    padding-right: 0%;
                }

                .ecom_btn-qorder{
                    color:#7F03B0;
                    background-color: white;
                    border-radius: 40px;
                    border: 2px solid #7F03B0;
                    font-family: Hanken Grotesk;
                    font-size: 16px;
                    font-weight:normal;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    padding: 5px 12px 5px 12px;
                    height: 48px;
                    width: 100%;
                }

                .ecom_btn-qorder:hover{
                    color:white;
                    background-color: #7F03B0;
                    border-radius: 40px;
                    border: 2px solid #7F03B0;
                    font-family: Hanken Grotesk;
                    font-size: 16px;
                    font-weight:normal;
                    line-height: 20px;
                    letter-spacing: 0em;
                    text-align: center;
                    padding: 5px 12px 5px 12px;
                    height: 48px;
                    width: 100%;
                }
            }

            /* RWPS-3338 start */
            .custom-icon-img {
                width: 16px;
                height: 16px;
                pointer-events: none;
            }/* RWPS-3338 end */