.ecom_modal_header{
/* font-family: Hanken Grotesk; */
font-size: 32px;
font-weight: 500;
line-height: 40px;
letter-spacing: 0em;
text-align: center;
border-bottom:1px solid white;

}
.ecom_modal_note{
/* font-family: Hanken Grotesk; */
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
padding-bottom: 24px;

}
.ecom_modal_container{
    /* top: 155px; */
    left: 340px;
    /* padding: 60px 93px 60px 93px; */
    border-radius: 20px;
    margin: 16px
    
}
.ecom_modal_header_container{
    /* width: 263.5px;
    height: 50px; */
    padding: 10px;
    border: 0px 0px 1px 0px;
    background-color: #FFFFFF;
    border-color:#7F03B0;

}
.ecom_modal_grayborder{
    /* border-width: 0px, 0.5px, 0.5px, 0.5px !important;
    border-style: solid;
    border-color: #A8A8A8; */
    background-color: none;
    
    /* Set no border on left, right, and top */
    border-left: none;
    border-right: none;
    border-top: none;

    /* Set red bottom border */
    border-bottom: 1px solid red;
}
.slds-table thead th{
    background-color: white;
}
.ecom_modal_no_lrborder{
    border-left:1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #7F03B0; 
}
.ecom-icon-right{
    float: right;
}
.ecom-align-title{
    text-align:center
}
.ecom_border{
    border-radius: 10px !important;
}
/* .slds-modal__container{
    width:40%;
    margin:0 auto;
    max-width: fit-content;
    min-width: inherit
} */

.ecom-table-header{
    /* font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align:center; */

    color: #000000;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 133.333% */
}

.ecom-table-cell-border{
    border-right: 1px solid #A8A8A8;
}

.ecom-div-border{
    border: 1px solid #A8A8A8;
}

.ecom-cell-text{
    /* font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    text-align:center */
    color:#000000;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.ecom-no-border{
	/* border:2px solid white */
    border: 0px;
    border-bottom: 0px;
}

.ecom-closebtn{
	float:right;
	bottom:10px
}

.ecom-align-title{
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: center;
}

.ecom-spinner-style{
	z-index: 10000 !important;
	position: fixed;
	top: 0;
	bottom : 0;
	right:0;
	left:0;
}
.ecom-bottom-border{
    border-radius: 0px 0px 16px 16px !important;
}
.ecom-top-border{
    border-radius: 16px 16px 0px 0px;
}
.margin-paddings {
    padding-left: 93px;
    padding-right: 93px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.ecom-header-border{
    border: 4px solid white;
    padding-bottom: 0px !important;
}
.ecom-icon-size24{
    width: 24px;
    height: 24px;
}
.ecom-m-top-60{
    margin-top: 60px;
}

@media (min-width:300px) and (max-width: 400px){
    .margin-paddings {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}