.svgcontainer {
    
    /* left: 1%; */ 
    /* text-align: center;
    margin-top: -2px;
    padding-inline: inherit; */
    /* margin-right: 99px; */
    /*max-width: -webkit-fill-available; */
    width: 100%;
    background-color: white;
  }
  .ecom-rev-logo{
    /*max-width:-webkit-fill-available; */
    width: 100%;
  }