.background {
    width: 100%;
    min-width: 360px;
}

.body {
    width: 100%;
    min-width: 340px;
    max-width: 1440px;
}

.body-no-overflow {
    overflow: hidden;
    width: 100%;
    min-width: 340px;
    max-width: 1440px;
}

.ecom-mt-cart {
    margin-top: 40px;
}

.cart-redirect-container {
    height: 40px;
    gap: 8px;
    text-align: end;
}


.cart-redirect-icon {
    width: 24px;
    height: 24px;
    padding: 0.9995120167732239px 2.995100975036621px 2.0004994869232178px 3.004879951477051px
}

.cart-redirect-icon-color {
    color: #7F03B0;
    font-size: 18px;
    color: #7F03B0;
    font-family: 'Hanken Grotesk';
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.cart-redirect-icon-color:hover {
    color: #7F03B0;
    text-decoration: underline;
}

.ecom-cart-border {
    border-radius: 8px;
    padding: 0px 0px
}

.ecom-cart-label {
    font-family: Hanken Grotesk;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;

}

.ecom-cart-m24 {
    margin: 24px
}

.ecom-icon-size {
    height: 24px;
    width: 24px;
}

.message-container {
    padding: 0px 16px;
}

.ecom_modal_header {
    font-family: Hanken Grotesk;
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom: 1px solid white;

}

.ecom_modal_note {
    font-family: Hanken Grotesk;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

}

.ecom_modal_container {
    /* top: 155px; */
    left: 340px;
    /* padding: 60px 93px 60px 93px; */
    border-radius: 20px;
    margin: 16px
}

.ecom_modal_header_container {
    /* width: 263.5px;
      height: 50px; */
    padding: 10px;
    border: 0px 0px 1px 0px;
    background-color: #FFFFFF;
    border-color: #7F03B0;

}

.ecom_modal_grayborder {
    /* border-width: 0px, 0.5px, 0.5px, 0.5px !important;
      border-style: solid;
      border-color: #A8A8A8; */
    background-color: none;

    /* Set no border on left, right, and top */
    border-left: none;
    border-right: none;
    border-top: none;

    /* Set red bottom border */
    border-bottom: 1px solid red;
}

.slds-table thead th {
    background-color: white;
}

.ecom_modal_no_lrborder {
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid #7F03B0
}

.ecom-icon-right {
    float: right;
}

.ecom-align-title {
    text-align: center
}

.slds-modal__container {
    width: 40%;
    margin: 0 auto;
    max-width: fit-content;
    min-width: inherit
}

.ecom_qo_partnumber_tb {
    margin: 0px 16px 0px 0px;
    line-height: 7px;
    width: auto;
}

.ecom_qo_partnumber_nr {
    margin: 0px 5px 0px 0px;
    line-height: 5px;
}

.ecom-qo-deleteitem-btn {
    width: 20px;
    height: 20px;
    margin: 11px 0px 5px 25px
}

.ecom_btn-qorder {
    color: #7F03B0;
    background-color: white;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    font-family: Hanken Grotesk;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding: 5px 12px;
}

.ecom_btn-addmore {
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    color: #7F03B0;
}

.ecom-icon-size {

    width: 24px;
    height: 24px;
}

.ecom_btn-qorder-add-to-cart {
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    background-color: #A8A8A8;
    border: 1px solid #A8A8A8;
    border-radius: 24px;
}

.ecom-qo-noborder {
    border-bottom: 0px;
}

.ecom-qo-closebtn {
    float: right;
    bottom: 10px
}

.ecom-no-border {
    border: 2px solid white
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 7, 7, 0.5);
    /* background color while spinner onscreen */
    z-index: 15000;
    /* set z-index always high */
}

.spinshow::after {
    position: absolute;
    content: "Loading...";
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    color: white;
}

@media (min-width:300px) and (max-width:1025px) {

    .ecom-cart-label {
        font-family: Hanken Grotesk;
        font-size: 20px;
        font-weight: 500;
        line-height: 40px;
        letter-spacing: 0em;
        text-align: left;

    }

}

@media (min-width:1026px) and (max-width:2000px) {
    .cart-redirect-button {
        /* width: 344px;
      height:232px; 
      padding: 24px 16px 24px 16px;*/

        border-radius: 8px;
        /* border: 1px; */
        margin: 10px;
    }

}

@media (min-width:300px) and (max-width:600px) {

    .cart-redirect-button {
        /* width: 344px;
      height:232px; 
      padding: 24px 16px 24px 16px;*/

        border-radius: 8px;
        /* border: 1px; */
        margin-top: none;
        margin-left: none;
        margin-right: none;
        margin-bottom: 10px;
        padding-left: 98px;

    }
}

/*RWPS-1548-Start*/
.custom-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-slds__modalcontainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 759px;
    height: auto;
    padding: 62px 92px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.24);
    text-align: center;
}

.slds-modal__close {
    position: absolute;
    top: 24px;
    right: 27px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #000;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    line-height: 1;
}

.close-icon {
    width: 22px;
    height: 22px;
    cursor: pointer;
}

.custom-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 14px;
}

.custom-image {
    width: 63px;
    height: 63px;
}

.address-missing-text {
    width: 100%;
    max-width: 575px;
    height: auto;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    padding: 10px;
}

.add-address-error-text {
    width: 100%;
    max-width: 575px;
    height: auto;
    font-family: 'Hanken Grotesk', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin: 0 auto;
    padding: 10px;
}

.custom-add-address-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    width: 145px;
    /* RWPS-3816 */
    height: 48px;
    background: #7F03B0;
    border-radius: 40px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.custom-add-address-button-wide {
    /* RWPS-3816 */
    width: 222px;
}

.slds-backdrop_open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
    .custom-slds__modalcontainer {
        width: 90%;
        padding: 32px 24px;
    }

    .custom-image {
        width: 50px;
        height: 50px;
    }

    .address-missing-text {
        font-size: 28px;
        line-height: 36px;
        padding: 8px;
    }

    .add-address-error-text {
        font-size: 16px;
        line-height: 22px;
        padding: 8px;
    }

    .custom-add-address-button {
        width: 134px;
        height: 36px;
        font-size: 14px;
    }

    .custom-add-address-button-wide {
        /* RWPS-3816 */
        width: 185px;
    }

    .custom-footer {
        padding: 10px;
    }

    .slds-modal__close {
        top: 16px;
        right: 16px;
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 480px) {
    .custom-slds__modalcontainer {
        width: 95%;
        height: auto;
        padding: 24px 16px;
        max-width: 100%;
        box-sizing: border-box;
    }

    .custom-image {
        width: 40px;
        height: 40px;
    }

    .address-missing-text {
        font-size: 24px;
        line-height: 32px;
        padding: 6px;
    }

    .add-address-error-text {
        font-size: 14px;
        line-height: 20px;
        padding: 6px;
    }

    .custom-add-address-button {
        width: 110px;
        height: 32px;
        font-size: 12px;
    }

    .custom-add-address-button {
        /* RWPS-3816 */
        width: 165px;
    }

    .slds-modal__close {
        top: 8px;
        right: 8px;
        width: 18px;
        height: 18px;
    }

    .slds-backdrop_open {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .custom-modal {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }
}

/*RWPS-1548-End*/