.ecom-ss-2-col-img-desc-img-outer {
  width: 100%;
  max-width: 444px;
  margin: 0 auto;
  position: relative;
}

.ecom-ss-2-col-img-desc-img-outer img {
  width: 100%;
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.ecom-ss-2-col-img-desc-img-bg {
  position: absolute;
  top: 0;
  left: 0;
}

.ecom-ss-2-col-img-desc-img {
  position: relative;
}

.ecom-ss-2-col-img-desc-title {
  font-weight: 300;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 16px;
}

.ecom-ss-2-col-img-desc-desc {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
}

.ecom-ss-2-col-img-desc-btn {
  margin-top: 24px;
}

@media (max-width: 1023px) {
  .ecom-ss-2-col-img-desc-rhs {
    margin: 24px 0 0;
    text-align: center;
  }
}