.dummy{
	color : black;
}
.ecom_btn-orderDetails{
	color:#7F03B0;
	background-color: white;
	border-radius: 40px;
	border: 2px solid #7F03B0;
	font-family: Hanken Grotesk;
	font-size: 16px;
	font-weight:normal;
	line-height: 20px;
	letter-spacing: 0em;
	text-align: center;
	padding: 5px 12px 5px 18px;
}