.dummy{
	color : black;
}
.ecom_fav-heading{
	font-size: 37px;
    line-height: 1.2;
    color: #800f69;
    letter-spacing: -.03em;
    font-weight: 400;
}
.ecom_fav-img{
	height: 90px;
}
.ecom_fav-textAlign{
	text-align: center;
}

/* Updated as per Figma */
.ecom_fav-label{
font-size: 48px;
font-weight: 300;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
color:#333333;
}
.ecom_fav-prod-count{
font-size: 24px;
font-weight: 500;
line-height: 32px;
letter-spacing: 0em;
text-align: left;
}

.ecom-prod-img{
width: 62px;
height: 68px;
border-radius: 8px
}
.ecom-prod-name{
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: black;
}
.cart-product-details{
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: #525252;
}


.ecom-favourites-label{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:#7F03B0;
    }
    .ecom-favourite-icon{
    width: 18px;
    height: 18px
    
    }
    .ecom-shop-now-btn{
        padding: 12px 20px 12px 20px;
        border-radius: 40px;
        background: #7F03B0; 
        border: 1px solid #7F03B0;
        color: white
    }
    
.ecom-cart-prod-qty-ctr{
    /* margin: 10px; */
    /* padding-left:60px; */
    /* width: 95%; */
    width: 75%;
    margin-left: 26%;
}
.ecom-qty-ctr-border{
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    margin-left: 30%;

}
.cart-product-price{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: end;
}
.cart-prod-tprice{
font-size: 18px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: right;

}
.ecom-loadmore-btn{
padding: 12px 20px 12px 20px;
border-radius: 40px;
border: 2px solid #7F03B0;
color:#7F03B0;
font-size: 18px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
background-color: white;

}
.cart-item-card{
    padding: 16px;
border-radius: 8px;
border: 1px solid #A8A8A8;
/* margin:24px; */

  }

.ecom-loadmore-btn[disabled] {
    background: #A8A8A8;
    border: 1px solid #A8A8A8;
    cursor: not-allowed;
}

.favorite-details-link{
	color:#7F03B0;
    float: right;
}

/* Mobile UI css */
.ecom_fav-label-md{
    font-size: 32px;
    font-weight: 300;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: left;
    color:#333333;
    }
.ecom_fav-prod-count-md{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

.ecom-spinner-style{
	z-index: 10000 !important;
	position: fixed;
	top: 0;
	bottom : 0;
	right:0;
	left:0;
}

.ecom-noborder{
	border-bottom: 6px solid white;
	border-top: 2px solid white;
	border-radius: 16px 16px 0px 0px;
}

.ecom-border-bottom{
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
}

.ecom-closebtn{
	/* float:right;
	bottom:10px */
    position: absolute;
    right: -45px;
    top: -34px;
    display: flex;
    width: 24px;
    height: 24px;
    padding: 0.857px;
    justify-content: center;
    align-items: center;
}

.ecom-align-title{
	font-size: 32px;
	font-weight: 500;
	line-height: 40px;
	letter-spacing: 0em;
	text-align: center;
    font-style: normal;
    color: var(--Revvity-Black, #000);
    align-self: stretch;
}

.ecom-address-label {
	/* font-size: 18px !important;
	font-weight: 500 !important;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000; */
    color: #000;
text-align: center;

font-family: Hanken Grotesk;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 133.333% */
}
.ecom-msg-pos{
margin-top: 32px;
margin-bottom: 32px;
}
.ecom_password_btn_container_width{
	width: 575px;
	height: 48px;
}

.ecom-btn-pos{
	/* padding-left: 31%; */
    display: flex;
    width: 759px;
    padding: var(--radius-lg, 12px) 0px;
    justify-content: flex-end;
    align-items: center;
    gap: var(--radius-lg, 16px);
    margin-top: 16px;
}

.ecom_btn-password-cancel{
	padding: 12px 20px;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    background-color: white;
    color: #7F03B0;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    /* display: flex; */
    /* width: 126px; */
    justify-content: center;
    align-items: center;

}

/* .ecom_btn-cancel-width{
	width: 126px
} */

.ecom_btn-password-save{
	padding: 12px 20px;
	border: 2px solid #7F03B0;
	background-color: #7F03B0;
	color: white;
	border-radius: 40px;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
    justify-content: center;
    align-items: center;
}

.ecom-fav-label-dashboard{
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}
.ecom-modal-box{
    /* display: flex; */ 
    width: 759px;
    padding: 60px 92px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 6px 6px 24px 0px rgba(0, 0, 0, 0.24);
}

.ecom-brand-purple a{
    color: #7F03B0 !important;
    /* text-decoration: none; */
}

.ecom-mb-32{
    margin-bottom: 32px;
}
.ecom-mb-24{
    margin-bottom: 24px;
}
.ecom-mt-64{
    margin-top: 64px;
}
.ecom-pl-16{
    padding-left: 16px;
}
.ecom-pr-16{
    padding-right:16px;
}
.ecom-mt-40{
    margin-top:40px;
}
.ecom-mt-32{
    margin-top: 32px;
}
.ecom-mb-40{
    margin-bottom: 40px;
}
.prod-btn-ht{
    height: 48px;
}
/*RWPS-2124*/
@media screen and  (min-width:1080px){

    .background{
      max-width: 100%;
      min-width: 360px;
    }
    
    .container{
      max-width:1440px;
      min-width:360px;
      background-color:white;
      width:100%;
      justify-content: center;
    
    }
    
    .body{
      width: 100%;
    }
    }
    @media screen and  (min-width:760px) and (max-width : 1024px){

        .background{
          max-width: 100%;
          min-width: 360px;
        }
        
        .container{
          max-width:1024px;
          min-width:360px;
          background-color:white;
          width:100%;
          justify-content: center;
        
        }
        
        .body{
          width: 100%;
        }
        }
        @media(max-width: 760px){   
            /* .message-container{
                width: 75%;
                margin-left: 12.5%;
            } */
            .background{
                max-width: 100%;
                /* min-width: 390px; */
              }
            .container{
                max-width:390px;
                /* min-width:390px; */
                background-color:white;
                width:100%;
                justify-content: center;
              
              }
              .body{
                width: 100%;
              }
        }