@import 'c/ecom_cssLibrary';

* {
    font-family: "Hanken Grotesk", sans-serif;
    }
    
    .ecom-body{
        background-color: #ffeb10;
        
    }

    .ecom-spinner-positioning{
        position: relative;
        top: 185px;
    }
    
    .ecom-margin-top-80 {
        margin-top: 80px;
    }
    
    .ecom-header{
        height: 81px;
        background-color: white;
    }
    
    .ecom-image {
        width: 173px;
        height: 57px;
        padding-top:30px;
        margin:auto;
    }

    .ecom-v-image {
        margin-top:22px;
    }        
    
    .ecom-full-width {
        width:100%;
    }
    
    .ecom-full-width img {
        width:100%;
    }

    .ecom-margin-top-60 {
        margin-top:60px;
    }
    
    .ecom-postion-relative {
        position: relative;
    }
    
    .ecom-position-absolute {
        position: absolute;
    }
    
    .ecom-footer {
        position:fixed;
        background-color:black;
        height: 100px;
        bottom:0px;
    }
    
    .ecom-header-text {
        padding-top:60px;
        padding-bottom: 40px;
        padding-left: 119px;
        padding-right:119px;
        width: 100%;
        font-size: 56px;
        line-height: 64px;
        font-weight: 300;
        
    }
    
    .ecom-card-styling{
        line-height: 24px;
    }

    .ecom-phone-helptext{
        display: block;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #525252;
    }
    
    .ecom-set-password-card{
        
        background: #fff;
        border-radius: 16px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 24px;
        font-family: "Hanken Grotesk", sans-serif;
        /* max-height: 404px !important; */
    }
    
    .ecom-card-label {
        font-size: 18px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        line-height: 24px;
        margin-bottom: 4px;
    }
    
    .ecom-contactus-card{
        background: #fff;
        border-radius: 16px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 24px;
        max-width:464px;
        margin-left: 59px;
    }
    
    .ecom-password-display-flex{
        display: flex;
    }
    
    .ecom-password-icon{
        width: 3rem;
        height: 1rem;
    }
    
    .ecom-password-icon:focus{
        outline:none;
    }
    
    .ecom-detail-text-18{
        color: #000000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        line-height: 22px; /* 137.5% */
    }
    
    .slds-input {
        height: 56px !important;
        color: #000000 !important;
    }
    .slds-input:focus {
        border-color: #7F03B0 !important;
        box-shadow: none;
    }
    
    .slds-input:hover {
        border-color: #7F03B0 !important;
        box-shadow: none;
    }
    
    .slds-input:active {
        border-color: #7F03B0 !important;
        box-shadow: none;
    }
    
    /* .slds-icon{
        fill:black;
    }
    
    slds-icon:hover {
        fill:#7F03B0;
    } */
    
    .slds-input-has-icon .slds-input__icon:not(button) {
        pointer-events: none;
        display: none;
    }
    
    .slds-input-has-icon--left-right .slds-input, .slds-input-has-icon--left-right .slds-input--bare, .slds-input-has-icon--left-right .slds-input_bare, .slds-input-has-icon--left-right .slds-input_faux, .slds-input-has-icon_left-right .slds-input, .slds-input-has-icon_left-right .slds-input--bare, .slds-input-has-icon_left-right .slds-input_bare, .slds-input-has-icon_left-right .slds-input_faux {
        --slds-c-input-spacing-horizontal-start: 1rem;
        --slds-c-input-spacing-horizontal-end: 3rem;
    }
    
    .slds-scope .slds-input-has-icon_right .slds-input__icon {
        right: 1.4rem;
    }
    
    .slds-input__icon-group_right .slds-input__icon--right, .slds-input__icon-group_right .slds-input__icon_right {
        right: 1.4rem;
        display: none;
    }
    
    .slds-scope .slds-input-has-icon .slds-input__icon {
            width: .875rem;
            height: .875rem;
            position: absolute;
            line-height: 1;
            border: 0;
            z-index: 2;
            transform: scale(1.75);
        
    }
    
    .slds-scope .slds-input:focus, .slds-scope .slds-input:active {
        border-color: var(--slds-g-color-brand-base-60, rgb(27, 150, 255));
        background-color: var(--slds-g-color-neutral-base-100, rgb(255, 255, 255));
        color: var(--slds-c-input-text-color-focus, var(--sds-c-input-text-color-focus));
        box-shadow: 0 0 0px white;
        outline: 0;
    }
    
    .ecom-display-none{
        display:none;
    }
    
    .ecom-error-text{
        margin-bottom: 0;
        color: #dc0101;
        margin-top: 4px;
        font-size: 14px;
        line-height: 24px;
    }
    
    .ecom-instruction-label{
        display: block;
        font-size: 14px;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        line-height: 20px;
        color: #525252;
    }
    
    .ecom-password-meter-parent{
        margin-top: 8px;
        display: flex;
        width: 100%;
        align-items: center;
    }
    
    .ecom-password-strength-parent {
        margin-top: 8px;
        width: 30%;
    }
    
    .ecom-password-meter-container{
        flex-grow: 1;
        display: flex;
        gap: 8px;
        padding-right:16px;
    }
    
    .ecom-password-meter-empty{
        height: 8px;
        flex-grow: 1;
        border-radius: 40px;
        background-color: #a8a8a8;
    }
    
    
    .ecom-password-meter-container .ecom-password-meter-color:nth-child(1), 
    .ecom-password-meter-container .ecom-password-meter-color:nth-child(2){
        background-color: #dc0101;
    }
    
    .ecom-password-meter-container .ecom-password-meter-color:nth-child(3), 
    .ecom-password-meter-container .ecom-password-meter-color:nth-child(4){
        background-color: #d17f03;
    }
    
    .ecom-password-meter-container .ecom-password-meter-color:nth-child(5), 
    .ecom-password-meter-container .ecom-password-meter-color:nth-child(6){
        background-color: #029333; 
    }
    
    .ecom-password-box-1{
        margin-bottom: 34px;
    }

    .ecom-password-box-2{
        margin-bottom: 34px;
    }
    
    .ecom-submit-button{
        font-family: "Hanken Grotesk", sans-serif;
        border-radius: 40px;
        display: inline-block;
        padding: 12px 20px;
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        color: #fff !important;
        background: #7f03b0;
        transition: 0.2s;
        border: 0px !important;
    }
    
    .ecom-submit-disabled-button {
        font-family: "Hanken Grotesk", sans-serif;
        border-radius: 40px;
        display: inline-block;
        padding: 12px 20px;
        font-size: 18px !important;
        font-weight: 400 !important;
        line-height: 24px !important;
        color: #fff !important;
        background: #a8a8a8;
        pointer-events: none;
        transition: 0.2s;
        border: 0px !important;
    }

    .ecom-submit-disabled-button:hover{
        color: #fff !important;
        pointer-events: none;
    }

    .ecom-submit-button:hover{
        background-color:#5A037D;
    }
    
    .ecom-border-color-red{
        border:1px solid #dc0101 !important;
    }

    .ecom-masked-password{
        -webkit-text-security: disc;
    }

    .ecom-unmasked-password {
        -webkit-text-security: unset;
    }

    .ecom-display {
        visibility: visible;
    }

    .ecom-hide {
        visibility: hidden;
    }

    .ecom-display-span-flex{
        display: flex;
    }
    
    @media screen and (max-width: 480px) {
        .ecom-set-password-card {
            background-color: white;
        }
    }

    @media screen and (max-width: 1104px) {
        .ecom-text-size-18 {
            font-size: 16px;
        }
    
        .ecom-text-size-24 {
            font-size: 20px;
        }
    
        .ecom-line-height-28 {
            line-height: 24px;
        }
    }

@media screen and (max-width: 710px) {
    .ecom-password-meter-parent{
        width: 68% !important;
    }

    .ecom-text-size-16{
        font-size: 14px !important;
    }

    .ecom-card-label{
        font-size: 16px !important;
    }
}