.canvas-border{
    border: 2px solid #000;
}
.signature-sections {
    display: flex;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 20px;
}

.customer-section, .technician-section {
    flex: 1;
}