@import 'c/ecom_cssLibrary';

/* .ecom-support-email-link{
    line-height: 24px;
    color: var(--ecom-brand-color-purple);
    text-decoration: underline !important;
}

.ecom-support-email-link:hover {
    color: #5a027d;
    text-decoration: none !important;
} */

.ecom-login-description-card-links a{
    font-size: 16px;
    line-height: 24px;
    color: var(--ecom-brand-color-purple);
    font-weight: 600;
    text-decoration: underline !important;
}

.ecom-login-description-card-links a:hover{
    color: #5a027d;
    text-decoration: none !important;
}

.ecom-padding-left-16{
    padding-left: 16px;
}

@media screen and (max-width:496px) {
    .ecom-submit-button{
        font-size: 16px;
        line-height: 22px;
        text-align: center;
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
    }
    
    .ecom-display-flex{
        flex-direction: column!important;

    }

    .ecom-line-height-44{
        line-height: 32px;
    }

    .ecom-margin-bottom-24{
        margin-bottom: 16px;
    }

    .ecom-align-items-center{
        align-items: normal;
    }

    .ecom-padding-left-16{
        padding-left: 0px!important;
        padding-top: 16px!important;
    }
}