:host {
    /* background-color: #FFFFFF;
    color: #000000 !important;
    display: flex;
    flex-direction: column;
    border: 1px solid #1C3C6E !important; 
    border-radius: 16px !important; */
}
.order-summary-prices{
    font-family: Hanken Grotesk !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.order-summary-priceval{
    font-family: Hanken Grotesk !important;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: end;

}

.container{
    height:50px
}

lightning-icon{
    --sds-c-icon-color-foreground-default: black !important;
    --slds-c-icon-color-foreground: white;
    --slds-c-icon-color-background: white;
}

.heading {
    /* padding-bottom: 0.5rem;
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: 1.8px;
    font-weight: bold;
    align-items: right; */
    font-family: Hanken Grotesk;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    /* Nov20 */
    padding-bottom: 16px;
    width: 100%;
}

.gray-border{
    border-bottom: 1px solid #A8A8A8
}
.original-price {
    text-decoration: line-through;
    font-size: 1rem;
    align-self: flex-end;
}

.final-price-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    color: inherit;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-weight: var(--lwc-fontWeightBold);
}

.final-price-container span {
    font-weight: var(--lwc-fontWeightRegular);
}

.final-price-container lightning-formatted-number {
    font-weight: 500;
}

.cart-summary-heading{
    font-size: 18px;
    font-weight: bold;
    line-height: 21.6px;
    letter-spacing: 1.8px;
}

.cart-summary-text{
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 1.2px;
}

.cart-summary-text-total-points{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.6px;
    font-weight: bold;
    padding-top: 7px;
}

.cart-summary-text-total{
    /* font-size:16px;
    line-height: 24px;
    font-weight: bold;
    letter-spacing: 1.6px; */
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}
.cart-align-right{
    text-align: end !important;
}
.slds-theme_applied{
    background: #7F03B0;
    color: #FFFFFF;
}
.cart-summary-checkoutbutton{
    /* width: 94%; */
    width: 100%;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border-color: #7F03B0;
    background: #7F03B0;
    color: #FFFFFF;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border:solid;
    height: 48px;
    margin-top: 24px;
}

.cart-summary-checkoutbutton:hover{
    /* width: 94%; */
    width: 100%;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border-color: #5A027D;
    background: #5A027D;
    color: #FFFFFF;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border:solid;
    height: 48px;
}
.cart-summary-checkoutbutton:active{
    /* width: 94%; */
    width: 100%;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border-color: #5A027D;
    background: #5A027D;
    color: #FFFFFF;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border:solid;
    height: 48px;
}
.ecom-m16{
    margin: 16px;
}

.cart-summary-checkoutbutton-disabled{
    /* width: 94%; */
    width: 100%;
    height: 48px;
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border-color: #A8A8A8;
    background: #A8A8A8;
    color: #FFFFFF;
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    border:solid;
    cursor:not-allowed;
    height: 48px;
}
.cart-summary-promotion-label{
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0em;
    /* text-align: left; */
    text-align: center;
    color: #000000 !important;
    margin-top: 5px;
    vertical-align: middle;

}
.cart-summary-apply-promotion-btn-active{
    /* width:80px;
    height: 46px;
    padding: 8px 10px 12px 15px;
    border-radius: 40px;
    border: 2px solid #A8A8A8;
    margin: 58px 52px 0px 40px;
    border-color: #7F03B0;
    background: #7F03B0;
    color: #FFFFFF;
    height: 48px;
    margin-top: 24%; */


    width: 100px;
    padding: 12px 20px;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    /* margin: 58px 52px 0px 40px; */
    /* background: white;
    color: #A8A8A8; */
    margin-top: 31%;
    height: 48px;
    margin-left: 16px;
    border-color: #7F03B0;
    background: #7F03B0;
    color: #FFFFFF;

}

.cart-summary-apply-promotion-btn-active:hover{
    /* width:80px;
    height: 46px;
    padding: 8px 10px 12px 15px;
    border-radius: 40px;
    border: 2px solid #5A027D;
    margin: 58px 52px 0px 40px;
    border-color: #5A027D;
    background: #5A027D;
    color: #FFFFFF;
    height: 48px;
    margin-top: 24%; */

    
    width: 100px;
    padding: 12px 20px;
    border-radius: 40px;
    border: 2px solid #5A027D;
    /* margin: 58px 52px 0px 40px; */
    /* background: white;
    color: #A8A8A8; */
    margin-top: 31%;
    height: 48px;
    margin-left: 16px;
    border-color: #5A027D;
    background: #5A027D;
    color: #FFFFFF;

}
.cart-summary-apply-promotion-label{
    font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px;
    /* line-height: 24px; */
    letter-spacing: 0em;
    text-align: center;
    /* margin-top:24% */
}
.cart-summary-apply-promotion-btn-inactive{
    /* width:80px;
    height: 46px;
    padding: 8px 10px 12px 15px;
    border-radius: 40px;
    border: 2px solid #A8A8A8;
    margin: 58px 52px 0px 40px;
    background: white;
    color: #A8A8A8;
    margin-top:25%;
    height: 48px; */

        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #A8A8A8;
        /* margin: 58px 52px 0px 40px; */
        background: white;
        color: #A8A8A8;
        margin-top: 31%;
        height: 48px;
        margin-left: 16px;
}
.ecom-cart-bcolor-grey{
    color:#A8A8A8
}
.ecom-promotion-box{
    margin: 0px 0px 0px 16px
}
.ecom-summary-hline{
    /* margin: 16px; */
    border-bottom: 1px solid #A8A8A8
}
.ecom-summary-size{
    width: 100%;
}
.ecom-checkout-hline{
    padding-top: 16px;
    border-top: 1px solid #A8A8A8;
}
.remove-coupon{
    cursor: pointer;
}

.box-style{
    border:1px solid #E3E3E3;
    border-radius:8px;
    /* 20th Nov */
    display: flex;
/* width: 344px; */
padding: 24px 16px;
flex-direction: column;
align-items: flex-start;
gap: 16px;
}
.ecom-full-width{
    width: -webkit-fill-available;
}
.ecom-vh16{
    height: 16px;
}
.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 7, 7, 0.5); /* background color while spinner onscreen */
    z-index: 15000; /* set z-index always high */
}

.spinshow::after {
    position: absolute;
    content: "Loading...";
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    color: white;
}
.ecom-tax-label{
    color:grey;
}

@media (min-width:601px) and (max-width:800px){
    .cart-summary-apply-promotion-btn-active{
       
        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #7F03B0;
        margin-top: 12%;
        height: 48px;
        margin-left: 16px;
        border-color: #7F03B0;
        background: #7F03B0;
        color: #FFFFFF;
    
    }
    .cart-summary-apply-promotion-btn-inactive{
            width: 100px;
            padding: 12px 20px;
            border-radius: 40px;
            border: 2px solid #A8A8A8;
            /* margin: 58px 52px 0px 40px; */
            background: white;
            color: #A8A8A8;
            margin-top: 12%;
            height: 48px;
            margin-left: 16px;
    }
    .cart-summary-apply-promotion-btn-active:hover{

        
        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #5A027D;
        margin-top: 12%;
        height: 48px;
        margin-left: 16px;
        border-color: #5A027D;
        background: #5A027D;
        color: #FFFFFF;
    
    }
}
@media (min-width:300px) and (max-width:600px){
    .borderPaddingCss{
        padding-left:18px;
    }
    .heading {
        font-family: Hanken Grotesk;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        letter-spacing: 0em;
        text-align: left;
        padding-bottom: 16px;
        width: 100%;
    }
    .box-style{
        padding-left:10px;
        width: 365px;
    }
    .cart-summary-apply-promotion-btn-active{
        /* width:80px;
        height: 46px;
        padding: 8px 10px 12px 15px;
        border-radius: 40px;
        border: 2px solid #A8A8A8;
        margin: 58px 52px 0px 40px;
        border-color: #7F03B0;
        background: #7F03B0;
        color: #FFFFFF;
        height: 48px;
        margin-top: 24%; */
    
    
        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #7F03B0;
        /* margin: 58px 52px 0px 40px; */
        /* background: white;
        color: #A8A8A8; */
        margin-top: 24px;
        height: 48px;
        margin-left: 16px;
        border-color: #7F03B0;
        background: #7F03B0;
        color: #FFFFFF;
    
    }
    
    .cart-summary-apply-promotion-btn-active:hover{
        /* width:80px;
        height: 46px;
        padding: 8px 10px 12px 15px;
        border-radius: 40px;
        border: 2px solid #5A027D;
        margin: 58px 52px 0px 40px;
        border-color: #5A027D;
        background: #5A027D;
        color: #FFFFFF;
        height: 48px;
        margin-top: 24%; */
    
        
        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #5A027D;
        /* margin: 58px 52px 0px 40px; */
        /* background: white;
        color: #A8A8A8; */
        margin-top: 24px;
        height: 48px;
        margin-left: 16px;
        border-color: #5A027D;
        background: #5A027D;
        color: #FFFFFF;
    
    }
    .cart-summary-apply-promotion-label{
        font-family: Hanken Grotesk;
        font-size: 18px;
        font-weight: 500;
        line-height: 18px;
        /* line-height: 24px; */
        letter-spacing: 0em;
        text-align: center;
        /* margin-top:24% */
    }
    .cart-summary-apply-promotion-btn-inactive{
        /* width:80px;
        height: 46px;
        padding: 8px 10px 12px 15px;
        border-radius: 40px;
        border: 2px solid #A8A8A8;
        margin: 58px 52px 0px 40px;
        background: white;
        color: #A8A8A8;
        margin-top:25%;
        height: 48px; */
    
            width: 100px;
            padding: 12px 20px;
            border-radius: 40px;
            border: 2px solid #A8A8A8;
            /* margin: 58px 52px 0px 40px; */
            background: white;
            color: #A8A8A8;
            margin-top: 24px;
            height: 48px;
            margin-left: 16px;
    }
}

/*TAB UI Fix - Gaurang - 19 July 2024*/
@media (min-width:481px) and (max-width:768px){
    .cart-summary-apply-promotion-btn-active{
        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #7F03B0;
        margin-top: 11%;
        height: 48px;
        margin-left: 16px;
        border-color: #7F03B0;
        background: #7F03B0;
        color: #FFFFFF;
    
    }

    .cart-summary-apply-promotion-btn-active:hover{
        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #5A027D;
        margin-top: 11%;
        height: 48px;
        margin-left: 16px;
        border-color: #5A027D;
        background: #5A027D;
        color: #FFFFFF;
    
    }

    .cart-summary-apply-promotion-btn-inactive{
        width: 100px;
        padding: 12px 20px;
        border-radius: 40px;
        border: 2px solid #A8A8A8;
        background: white;
        color: #A8A8A8;
        margin-top: 11%;
        height: 48px;
        margin-left: 16px;
    }
}
.mobile-checkout-section{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    /* width: 390px; */
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: 24px; */
    border-radius: 0px;
    border-top: 1px solid #E3E3E3;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}