.ecom_modal_note{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.ecom-noborder{
	
	border-radius: 16px 16px 0px 0px;
}
.ecom_modal_subheader{
  
/* font-size: 18px;
font-weight: 400; 
line-height: 28px;*/
letter-spacing: 0em;
text-align: center;

}

.margin-paddings {
    padding-left: 92px;
    padding-right: 92px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.ecom-icon-right{
    float: right;
}
.ecom-align-title{
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 60px;
}
.slds-modal__container{
    width:30%;
    margin:0 auto;
   
       }

/* .slds-modal__header{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.slds-modal__content{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
} */

.ecom_partnumber_tb{
    margin: 0px 0px 0px 0px;
    line-height: 7px;
    width: auto;
}
.ecom_btn-promo-cancel{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    background-color: white;
    color: #7F03B0;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

.ecom_btn-promo-cancel:hover{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    background-color: #7F03B0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}
.ecom_btn-quote-apply{
    
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    border: 2px solid #7F03B0;
    background-color: #7F03B0;
    color: white;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}

.ecom_btn-promo-quote:hover{
    
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    background-color: #5A027D;
    border: 2px solid #5A027D;
    color:white;
    font-size: 18px;
    font-weight: 500;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: center;
}
.ecom-noborder{
    border-bottom: 2px solid white;
}
.ecom-closebtn{
    float:right;
    bottom:10px
}
.ecom-no-border{
    border:2px solid white;
}

.slds-modal__footer{
    padding-left: 92px;
    padding-right: 92px;
    border:2px solid white;
    border-radius: 0px 0px 16px 16px;
    padding-bottom: 24px;
}
.ecom_modal_subheader{
    padding-left: 92px;
    padding-right: 92px;
}

.ecom-spinner{
    z-index:10000 !important;
    position: fixed;
    top : 0;
    bottom : 0;
    right : 0;
    left: 0;
}
.ecom-btn-pos{
    padding-left: 52%;
}
.ecom_btn-quote-apply[disabled] {
    background: #A8A8A8;
    border: 1px solid #A8A8A8;
    cursor: not-allowed;
}


@media (min-width:300px) and (max-width:400px){
    .slds-modal__container{
        width:100%;
        margin:0 auto;
        height: 100%;
           }


    .margin-paddings {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .ecom_modal_subheader{
        padding-left:0px;
        padding-right: 0px;
    }

    .slds-modal__footer{
        padding-left: 16px;
        padding-right: 16px;
        border:2px solid white;
        border-radius: 0px 0px 16px 16px;
        padding-bottom: 24px;
    }

    .ecom-btn-pos{
        padding-left: 40%;
    }
}