.ecom-addr-text {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;

}
.ecom-mt-32{
    margin-top: 24px;
}
.ecom-mb-32{
    margin-bottom: 24px;
}
.ecom-mt-8{
    margin-top: 16px;
}

.ecom-shipping-label{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
    color:#000000;
}
.ecom-ship-bill-card{
    padding: 16px;
    border-radius: 8px;
    border: 1px;
    border: 1px solid #E3E3E3
}
.ecom-active-acn-label{
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    color: #000000;
}
.ecom-account-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}



.ecom-brand-purple{
    color:#7F03B0;
}
.ecom-gray-font{
    color: #525252;
}
.ecom-add-email-label{
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}
.ecom-placeorder-btn{
    padding: 12px 20px 12px 20px;
    border-radius: 40px;
    background: #7F03B0; 
    border: 1px solid #7F03B0;
    color: #FFFFFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}
.ecom-placeorder-btn[disabled] {
    background: #A8A8A8;
    border: 1px solid #A8A8A8;
    cursor: not-allowed;
    border-radius: 40px;

}

.ecom-newuser-email{
font-size: 14px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0.56px;
text-align: left;
color: #000000;
font-style: normal;
}

.ecom-newuser-notification-label{
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color:#000000;
font-style: normal;

}
.ecom-ml-20{
    margin-left:20px;
}

.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(8, 7, 7, 0.5); /* background color while spinner onscreen */
    z-index: 15000; /* set z-index always high */
  }
  
  .spinshow::after {
    position: absolute;
    content: "Loading...";
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    color: white;
  }
  .ecom-mt-40{
    margin-top: 40px;
  }
  @media only screen and (min-width: 390px) and (max-width: 767px) {
    .ecom-co-rev-card{
        /* display: flex; */
        padding: 40px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
        border-radius: 8px;
        border: 1px solid #E3E3E3;
        background: #FFF;
        margin-top: 24px;
        margin-bottom: 32px;
    }
    .ecom-address-label{
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 22px; /* 133.333% */
    }
    .ecom-vh-16{
        height: 8px;
        width: 100%;
    }
    .ecom-address-details{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        font-style: normal;
        color: #000000;
    }
    
    .ecom-change-link{
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        }
        .ecom-mtop-16{
            margin-top: 8px;
        }
    

  }
  @media only screen and (min-width: 768px) {
    .ecom-co-rev-card{
    /* display: flex;  */
    /* width: 712px; */
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    /* gap: var(--radius-lg, 16px); */
    border-radius: 8px;
    border: 1px solid #E3E3E3;
    background: #FFF;
    margin-top: 24px;
    margin-bottom: 40px;
    }
    .ecom-address-label{
        letter-spacing: 0em;
        text-align: left;
        color: #000000;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; /* 133.333% */
    }
    .ecom-vh-16{
        height: 16px;
        width: 100%;
    }
    .ecom-address-details{
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        font-style: normal;
        color: #000000;
    }
    .ecom-mt-32{
        margin-top: 32px;
    }
    .ecom-mb-32{
        margin-bottom: 32px;
    }
    .ecom-mt-8{
        margin-top: 8px;
    }
    .ecom-mtop-16{
        margin-top: 16px;
    }
    .ecom-change-link{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        }
  }