.ecom-ss-footer-outer-black {
  background: #000;
}

.ecom-ss-footer-inner-black {
  padding: 48px 0;
  display: flex;
  gap: 24px;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #fff;
}

.ecom-ss-footer-black-lhs {
  flex-grow: 1;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.ecom-ss-footer-links {
  padding-right: 8px;
  display: inline-block;
  border-right: 1px solid #fff;
}

.ecom-ss-footer-links:last-child {
  border: none;
}

.ecom-ss-footer-links a {
  text-decoration: none;
  color: #fff;
}

.ecom-ss-footer-links a:hover {
  text-decoration: underline;
  color: #fff;
}
/*RWPS-4134 start */
.ecom-ss-footer-links a:focus {
  outline: 1px solid #fff;
  outline-offset: 2px; 
}
/*RWPS-4134 end*/

@media (max-width: 1103px) {
  .ecom-ss-footer-inner-black {
    flex-direction: column;
    font-size: 14px;
    align-items: center;
  }

  .ecom-ss-footer-black-lhs {
    gap: 24px;
    flex-direction: column;
    align-items: center;
  }

  .ecom-ss-footer-links {
    padding: 0;
    border: none;
  }
}