.cart-redirect-buttongroup{
    /* border: 1px solid #E3E3E3;
    padding:15px; 
    border-radius: 8px;
    margin-top: 16px; */
    border: 1px solid #E3E3E3;
    padding: 24px;
    border-radius: 8px;
    margin-top: 16px;
    display: flex;
    padding: 24px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.cart-redirect-container{
width: 312px;
height: 40px;
gap: 8px
}
.cart-redirect-button{
    /* width: 344px;
    height:232px;  */
    /* padding: 8px 8px 8px 8px;

    border-radius: 8px; */
    /* border: 1px; */
    /* margin: 10px; */
    border-radius: 8px;
    height: 40px;
    display: flex;
    padding: 0px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.cart-redirect-button-label{
    width: 141px;
    height: 40px;
    padding: 0px 0px 0px 0px;
}

.cart-redirect-button-label-fav{
    width: 141px;
    height: 40px;
    padding: 0px 0px 0px 0px;
}

.cart-redirect-icon{
    width: 24px;
    height: 24px;
    padding: 0.9995120167732239px 2.995100975036621px 2.0004994869232178px 3.004879951477051px
    
}
.cart-redirect-icon-color{
    color:#7F03B0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    padding: 0px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    height: 40px;
    width: 100%;
}
.ecom-icon-size{
    height:24px;
    width: 24px;
    margin: 8px 0px 8px 0px;
}

.cart-redirect-icon-color:hover{
    color:#7F03B0;
    text-decoration: underline;
   /* font-family: Hanken Grotesk;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;*/
}
.ecom-redirect-btn-container{
    padding: 8px 0px 8px 0px;
    width: 100%;
}